* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbf6f4;
  width: 100%;
	font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  font-weight: 200;
	line-height: 1.6;
	color: black;
}

a {
	text-decoration: none;
}

/* ---- Header Container ---- */

.name {
	font-size: 2em;
  padding: 20px 0 20px 0;
  color: white;
}

.main-header {
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: center;
	background: #558CA7;
}

.main-nav a {
  display: block;
  text-align: center;
  font-size: 1em;
  font-weight: 900;
	background: #fbf6f4;
	margin-top: 6px;
  padding: 10px 0;
  color: black;
  text-transform: uppercase;
}


/* ---- First Section Container ---- */

.profile-image {
  width: 80% ;
  height: auto ;
  margin-left: 0 auto;
  margin-top: 50px;
  margin-bottom: 0;
}

.intro-section {
  margin: 0 auto;
}

.intro-section p {
  padding: 40px 5px;
  color:white;
}

/* ---- General Layout Container ---- */


.portfolio-section,
.portfolio-footer,
.intro-section {
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.portfolio-page-image {
  width: auto ;
  max-width: 100% ;
  height: auto ;
}

.portfolio-section {
  margin:0 auto;
}

p {
  text-align: center;
  padding: 30px 5px;
  margin: auto;
}

.portfolio-headlines {
  text-align: center;
  padding: 30px 0 0 0;
}

.top-portfolio-headline {
  text-align: center;
  margin: 40px auto;
  text-transform: uppercase;
}

/* ---- Footer Container ---- */

.portfolio-footer {
  background: #558CA7;
  color:white;
}

.portfolio-footer p{
  padding: 30px;
  text-align: center;
  color: white;
}

.portfolio-footer-headline {
  text-align: center;
  padding: 30px 0 0 0;
  color: white;
}

.ft-contacts-container {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  font-weight: 100;
  margin: 0 auto;
  padding-bottom: 30px;
  border-bottom: 1px solid #044473;
}

.footer-contacts {
  padding: 0 0 10px 0;
}

.phone-nr {
  font-weight: 900;
}


/* ---- Footer-Navbar Container ---- */

.footer-navbar {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: #fbf6f4;
  color: black;
}

.ft-navbar {
  position: absolute;
  padding-left: 1.5em;
	padding-right: 1.5em;
  top: 50%;
}

.el1 {
  left: 0;
}

.el2 {
  right: 0;
}

.footer-BTT-btn {
  text-transform: uppercase;
  color: inherit;
}

.footer-BTT-btn:hover {
  color: #6ECBBF;
  text-decoration-line: overline;
}

.footer-BTT-btn:hover:after {
  background-color: #fbf6f4;
}


/* ---- Media Query for tablets at 768px ---- */

@media (min-width: 768px){

.main-header,
.main-nav,
.main-nav a {
  background: #558CA7;
}

   .main-nav {
     position: sticky;
     width: 100%;
     top: 0;
   }
 
   .container {
     width: 90%;
     margin: 0 auto;
   }

   
  .portfolio-section {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  article {
    width: 50%;
    padding: 0 10px 0 0;
  }


   .main-header {
     padding: 0;
   }

	.name {
		float: left;
  }
  
  .main-nav {
    float: right;
    width: 400px;

  }
  
  .main-nav a {
		display: inline-block;
    margin-left: 15px;
    color: white;
  }
  
  .clearfix::after {
    content: " ";
    display: table;
    clear: both;
  } 

  
.footer-BTT-btn:hover {
  color: #6ECBBF;
  text-decoration-line: overline;
}

.footer-BTT-btn:hover:after {
  background-color: #fbf6f4;
}
}

/* ---- Media Query for desktop screens at 1024px---- */
@media (min-width: 1024px){ 
 
  body,
  .main-header,
  .portfolio-footer {
    background: #558CA7;
  }
  .container {
    width: 85%;
    max-width: 1150px;
    margin: 0 auto;
  }

  .portfolio-section {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  article {
    width: 33%;
  }

.intro-section {
  width: 80%;
  max-height: 500px;
}

.intro-text {
  width: 50%;
  float: left;
  padding: 0;
}

.profile-image {
  width: 50%;
  float: right;
}
  
.footer-BTT-btn:hover {
  color: #6ECBBF;
  text-decoration-line: overline;
}

.footer-BTT-btn:hover:after {
  background-color: #fbf6f4;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
} 

}  